#label {
    color: green;
}

.player-1-image {
    width: 200px;
    display: none;
}
.player-2-image {
    width: 200px;
    display: none;
}
.player-1-card {
    width: 200px;
    display: none;
}
.player-2-card {
    width: 200px;
    display: none;
}
